<script src="{{ site.baseurl }}/{{ site.javascript_location }}/lib/jquery-2.1.1.min.js"></script> 
<script src="{{ site.baseurl }}/{{ site.javascript_location }}/lib/jquery.lib.min.js"></script>
<script src="{{ site.baseurl }}/{{ site.javascript_location }}/lib/wow.min.js"></script>
<script src="{{ site.baseurl }}/{{ site.javascript_location }}/founction.min.js"></script>
<script type="text/javascript">$(function(){$.srSmoothscroll()});(new WOW).init()</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

<footer class="site-footer">

  <div class="wrapper">

    <span class="copyr">Copyright 2014 By {{ site.data.settings.title }}</span>  


    <div class="social-media-list">
      <li><a href="https://www.facebook.com/{{ site.data.settings.facebook_username }}"><i class="icon-facebook"></i></a></li>
      <li><a href="https://twitter.com/{{ site.data.settings.twitter_username }}"><i class="icon-twitter"></i></a></li>
      <li><a href="https://plus.google.com/{{ site.data.settings.googlePlus_usrname }}"><i class="icon-googleplus"></i></a></li>
    </div>    

  </div>

</footer>
