<h4 class="section-title wow fadeInRight">{{ site.data.tools.title }}</h4>
<ul class="accordion wow zoomIn">
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Renewable Energy Technology</a>
    <ul class="submenu">
      <li>
        <a href="{{ site.baseurl }}/category/renewable-energy/">Renewable Energy News</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/renewable-energy/local/">local</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/renewable-energy/regional/">Regional</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/renewable-energy/international/">International</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Energy Research Product Development and Innovation</a>
    <ul class="submenu">
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/wind-power/">Wind power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/hydro-power/">Hydro power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/pv-power/">PV power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/waste-to-energy-power/">Waste to energy power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/biomass-and-bio-gass-power/">Biomass and bio gass Power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/co-generation-power/">Co-generation power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/geo-thermal/">Geo-Thermal</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/tidal-power/">Tidal power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/biological-power/">Biological power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/nuclear-power/">Nuclear power</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/category/energy-research/static-power/">Static power</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Solar Solution-Commercial and Retail Depo</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Catalogue links Contacts</a>
      </li>
      <li>
        <a href="javascript:void(0)">Home systems</a>
      </li>
      <li>
        <a href="javascript:void(0)">Commercial applications</a>
      </li>
      <li>
        <a href="javascript:void(0)">e Agricultural solutions and Application</a>
      </li>
      <li>
        <a href="javascript:void(0)">e Educational solutions</a>
      </li>
      <li>
        <a href="javascript:void(0)">e Government solutions</a>
      </li>
      <li>
        <a href="javascript:void(0)">e Medical solutions</a>
      </li>
      <li>
        <a href="javascript:void(0)">Transportation applications</a>
      </li>
      <li>
        <a href="javascript:void(0)">Informational technology and  RE Solutions</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Education Programs Demonstration Center</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Renewable Energy Demonstration facilities</a>
      </li>
      <li>
        <a href="javascript:void(0)">Schools visitation schedule</a>
      </li>
      <li>
        <a href="javascript:void(0)">primary educational focus</a>
      </li>
      <li>
        <a href="javascript:void(0)">Secondary and Tertiary educational</a>
      </li>
      <li>
        <a href="javascript:void(0)">Industrial and Vocational Educational Focus</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Affiliates</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Affiliates</a>
      </li>
      <li>
        <a href="javascript:void(0)">local</a>
      </li>
      <li>
        <a href="javascript:void(0)">regional</a>
      </li>
      <li>
        <a href="javascript:void(0)">international</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">RE-Projects</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Calls</a>
      </li>
      <li>
        <a href="javascript:void(0)">Project out</a>
      </li>
      <li>
        <a href="javascript:void(0)">Projects in</a>
      </li>
      <li>
        <a href="javascript:void(0)">Reminders</a>
      </li>
      <li>
        <a href="javascript:void(0)">Deadline</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Promotions and services</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Product list and services</a>
      </li>
      <li>
        <a href="javascript:void(0)">What’s up and available for you</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">Events</a>
    <ul class="submenu">
      <li>
        <a href="javascript:void(0)">Depertments</a>
      </li>
    </ul>
  </li>
</ul>
