<ul>
	<h5>Renewable Energy Technology</h5>
	<li><a href="#">Local</a></li> 
	<li><a href="#">Regional</a></li>
	<li><a href="#">International</a></li>
</ul>

<ul>
	<h5>Energy Research Product Development and Innovation</h5>
	<li><a href="#">Wind power</a></li>
	<li><a href="#">Hydro power</a></li>
	<li><a href="#">PV power</a></li>
	<li><a href="#">Waste to energy power</a></li>
	<li><a href="#">Biomass and bio gass Power</a></li>
	<li><a href="#">Co-generation power</a></li>
	<li><a href="#">Geo-Thermal</a></li> 
	<li><a href="#">Tidal power</a></li>
	<li><a href="#">Biological power</a></li>
	<li><a href="#">nuclear power</a></li>
	<li><a href="#">Static power</a></li>
</ul>

<ul>
	<h5>Solar Solution-Commercial and Retail Depo</h5>
	<li><a href="#">Catalogue- links- Contacts</a></li> 
	<li><a href="#">Home systems</a></li>
	<li><a href="#">Commercial applications</a></li>
	<li><a href="#">e Agricultural solutions and Application</a></li>
	<li><a href="#">e Educational solutions</a></li>
	<li><a href="#">e Government solutions</a></li>
	<li><a href="#">e Medical solutions</a></li>
	<li><a href="#">Transportation applications</a></li>
	<li><a href="#">Informational technology and  RE Solutions</a></li> 
</ul>

<ul>
	<h5>Education Programs Demonstration Center</h5>
	<li><a href="#">Renewable Energy Demonstration facilities</a></li> 
	<li><a href="#">Schools visitation schedule</a></li> 
	<li><a href="#">primary educational focus</a></li>
	<li><a href="#">Secondary and Tertiary educational</a></li> 
	<li><a href="#">Industrial and Vocational Educational Focus</a></li> 
</ul>

<ul>
	<h5>Affiliates to GSETRI</h5>
	<li><a href="#">local</a></li>
	<li><a href="#">regional</a></li>
	<li><a href="#">international</a></li>
</ul>
<ul>
	<h5>RE-Projects at GSETRI</h5>
	<li><a href="#">Calls</a></li></a></li> 
	<li><a href="#">Project out</a></li></a></li>
	<li><a href="#">Projects in</a></li></a></li>
	<li><a href="#">Reminders</a></li></a></li>
	<li><a href="#">Deadline</a></li></a></li> 
</ul>

<ul>
	<h5>GSETRI Promotions and services</h5>
	<li><a href="#">Product list and services</a></li>
	<li><a href="#">What’s up and available for you</a></li> 
</ul>

<ul>
	<h5>Events of GSETRI</h5>
	<li><a href="#"> Depertments</a></li>
</ul>