//////////////////////////////////////////
              ///main-infor//
/////////////////////////////////////////
.main-infor {
	z-index: 1;

	.content {
		@include span-columns( 8 );
		@include transition ( all 0.7s ease-in-out );

		@include media($laptop) {
			@include span-columns( 12 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.sidebar {
		@include span-columns( 4 );
		@include transition ( all 0.7s ease-in-out );

		ul {
			margin: 0;
		}

		li {
			padding: 15px 0;

			&:before {
				counter-increment: section;     
  				content: "" counter(section) " ";
  				float: left;
  				padding: 15px 25px;
  				margin: 0px 20px 0 0;
  				color: $header-color;
  				background: $accent_color_secondary; 
  				opacity: 0.8;
			}
		}

		h3 {
			text-align: left;
			margin: 15px 20px;
			text-transform: uppercase;
			font-size: 25px;
			font-weight: 700;

			&:after {
				content: "";
				border-bottom: solid 1px rgba($text-color, 0.2);
				display: block;
				padding: 5px;
			}
		}

		h4 {
			text-transform: uppercase;
			margin-bottom: 15px;
			font-size: 17px;
			font-weight: bold;
			margin: 20px 0;
		}

		@include media($laptop) {
			@include span-columns( 12 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}
}
