//////////////////////////////////////////
              ///features//
/////////////////////////////////////////


.features {
	@include retina-image($features-bg-img, cover);
	text-shadow: 1px 1px 1px #222;

	.overlay {
		//opacity: 0.9;
		background: $features-bg-color;
	}

	.f-item {
		@include row()
	}

	img {
		border: solid 3px #fff;
		box-shadow: 0 0 2px 1px #222;
	}
	
	.full-w {
		@include shift(0);

		@include media($laptop) {
			@include shift(3);
		}

		@include media($mobile) {
			@include span-columns( 12 );
			@include shift(0);
		}
	}

	.content {
		@include span-columns( 4 );
		@include transition ( all 0.7s ease-in-out );
		text-align: center;

		h4 {
			font-size: 17px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.lema {
			color: $header-color;
		}

		@include media($laptop) {
			@include span-columns( 6 );
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
		
	}

}