//////////////////////////////////////////
              ///site-footer//
/////////////////////////////////////////


.site-footer {
	background: $dark-gray;

	.social-media-list {
		@include span-columns( 3 );
		text-align: right;

		li {
			display: inline-block;
			font-size: 25px;
			padding: 0 10px;

			a {
				text-decoration: none;
				color: $header-color;
				opacity: 0.9;

				&:hover {
					color: $accent_color_secondary;
				}
			}
		}
	}
}

