.phone-contact {
	//background: $wet-asphalt;
	display: none;
	
	@include media($laptop) {
		display: block;
		margin-bottom: 35px;
	}

	@include media($mobile) {
		display: block;
		margin-bottom: 35px;
	}

	.email-btn {
		@include span-columns( 6 );
		padding: 30px;
		background: rgba($peter-river, 0.7);
		border-bottom: solid 3px $peter-river;

		&:hover {
			background: $peter-river;
		}

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

	.phone-btn {
		@extend .btn;
		@include span-columns( 6 );
		padding: 30px;

		@include media($mobile) {
			@include span-columns( 12 );
		}
	}

}


